.beneficios {
    justify-content: space-around;
    align-items: center;
}

.top {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.beneficios__mejores {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    margin: 20px;
}

.beneficios__mejores-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.beneficios__mejores img {
    width: 200px;
    margin: 0;
}

.item__titulo {
    align-items: center;
    margin: 0;
    font-weight: 500;
}

.caption {
    align-items: center;
    margin: 0;
    font-weight: 200;
    font-size: 18;
    justify-content: space-around;
}

h2 {
    font-size: 35px;
    margin-bottom: 0;
}

