@import "./var.scss";

.register {
  @extend %form__container;
  background-color: $K-w;
  min-height: 100vh;

  &__logo {
    @extend %form__container;

    img {
      height: 2rem;
    }
  }

  h2 {
    @extend %tittle__h2;
    text-align: center;
    margin: 1rem auto 0.5rem auto
  }

  p {
    @extend %subtittle__p;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0px auto 2rem auto;

    a {
      @extend %link;
    }

    a:hover {
      color: $W-g-2;
    }
  }

  &__form {
    @extend %form__content;

    input {
      @extend %input__forms;
    }

    input:focus {
      border-bottom-color: $W-g;
    }

    button {
      @extend %button__forms;
    }

    button:hover {
      background-color: $W-g-2;
    }
  }

  &__options {
    @extend %form__options;

    a {
      @extend %link;
      text-align: center;
    }

    a:hover {
      color: $W-g-2;
    }
  }
}
